
/* .Card-Container{
    height: 400px;
    /* overflow:scroll; */

.nav-item:hover {
    border-bottom: 1px solid blue;
    
}

.cat1,.cat2,.cat3,.cat4{
    padding: 10px 30px;
    border-radius: 10px;
   

}
.cat1{
    background-color: burlywood;
    
}

.cat2{
    background-color:orchid;

}
.cat3{
    background-color: chocolate;

}
.cat4{
    background-color:#E7CFCF;
}

.catagories h1{
    color: white;

}
.catagories img{
    width: 100px;
    height:80px;
    border-radius: 5px;
}

.catagories a{
    text-decoration: none;
}



.card img {
    height: 200px;
    background-color: #f2f3f5;
    transition: transform 2s ease-in-out;
    
  }
  

.image{
    overflow: hidden;

  }
  .card-farme:hover .image img {
    transform: scale(1.2);

  }
  .btn.btn-primary {
    background-color:#ff4f9d;   
    border-color: pink;
}
.btn.btn-primary:hover {
    background-color:#E80479;
}
  
/* .card-farme:is(:hover, :focus) .image { transform: scale(1.1); 
    transition: transform 0.5s ease;} */