
/* .Card-Container{
    height: 400px;
    /* overflow:scroll; */

.nav-item:hover {
    border-bottom: 1px solid blue;
    
}

.banner-bg{
    background-image: url('image/Bg\ images\ \(4\).jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

}
.cat1,.cat2,.cat3,.cat4{
    padding: 10px 30px;
    border-radius: 10px;
   

}
.cat1{
    background-color: burlywood;
    
}

.cat2{
    background-color:orchid;

}
.cat3{
    background-color: chocolate;

}
.cat4{
    background-color:#E7CFCF;
}

.catagories h1{
    color: white;

}
.catagories img{
    width: 100px;
    height:80px;
    border-radius: 5px;
}

.catagories a{
    text-decoration: none;
}

.product_card{
    height:400px;
}

.card img {
    height: 200px;
    background-color: #f2f3f5;
    transition: transform 2s ease-in-out;
    
  }
  

.image{
    overflow: hidden;

  }
  .card-farme:hover .image img {
    transform: scale(1.2);

  }
  .btn.btn-primary {
    background-color:#ff4f9d;   
    border-color: pink;
}
.btn.btn-primary:hover {
    background-color:#E80479;
}
  
/* For screens smaller than 576px (extra small devices) */
@media (max-width: 575.98px) {
    
    .navbar-nav {
        flex-direction: column; 
    }
    .navbar-nav .nav-link {
        padding: 10px 0; 
    }
    .catagories .row {
        flex-direction: column; 
    }
}

/* For screens between 576px and 767.98px (small devices) */
@media (min-width: 576px) and (max-width: 767.98px) {
 
    
    .navbar-nav {
        flex-direction: row; 
    }
    .catagories .row {
        flex-direction: row;
    }

    #CABS .container{

        flex-direction:column; 
    }
}

/* For screens between 768px and 991.98px (medium devices) */
@media (min-width: 768px) and (max-width: 991.98px) {
  
    .navbar-nav {
        flex-direction: row; 
    }
}

/* For screens between 992px and 1199.98px (large devices) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
    .container {
        max-width: 960px; 
    }
    .navbar-nav .nav-link {
        padding: 15px 20px; 
    }
}

/* For screens larger than or equal to 1200px (extra large devices) */
@media (min-width: 1200px) {
   
    .container {
        max-width: 1140px; 
    }
    .navbar-nav .nav-link {
        padding: 20px 25px;
    
}
}