
/* .Card-Container{
    height: 600px;
    overflow:scroll;
} */
.nav-item:hover {
    border-bottom: 1px solid blue;
    
}

.cat1,.cat2,.cat3{
    padding: 10px 30px;
    border-radius: 10px;

}
.cat1{
    background-color: burlywood;
    
}

.cat2{
    background-color:orchid;

}
.cat3{
    background-color: chocolate;

}

.catagories h1{
    color: white;

}
.catagories img{
    width: 100px;
    height: 80px;
    border-radius: 5px;
}

.catagories a{
    text-decoration: none;
}
.card img {
    height: 200px; 
  }

